body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

.showtext {
  font-size: 2rem;
  font-weight: 900;
  border-radius: 10px;
  max-width: 200px;
  margin: 0 auto;
  padding: 5rem;
  background-color: #17d4fe;
}

.closeModal {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.display {
  display: none;
}
